<!DOCTYPE html>
<html lang="fr">
<head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
<style>{{ css }}</style>
<meta charset="utf-8">
<title>À propos de Qui vote quoi&nbsp;?</title>
<meta name="description" content="Surveillez les votes des députés Français au parlement européen">
{% include "favicon.html.jinja" %}
</head>
<body>
  {% include "toolbar.html.jinja" %}
  <div id="content" class="text_page">
  <h1>À Propos de <i>Qui vote quoi&nbsp;?</i></h1>

  <p>Ce projet vise à faciliter l'accès aux données du parlement
  européen relatives aux votes. Il vous permet de facilement retrouver
  tous les textes votés contenant certains mots clés.</p>

  {% include "avertissement.html.jinja" %}

  <h2>Pourquoi ce projet ?</h2>
  Le site internet du parlement européen est peu ergonomique et ne permet pas de rechercher
  les résultats des votes à partir de mots clés. Or, ce type de recherche est essentiel
  pour s'assurer que les élus respectent leurs promesses électorales.
  <h2>Actualisation de la base de données</h2>
  <p>La base de données des votes est mise à jour toutes les heures. La mise à jour ne prend à priori que
  quelques secondes.
  Il se peut toutefois que les données ne soient publiées sur le site du parlement européen
  que le lendemain en journée. </p>
  <h2>Code Source</h2>
  <p>Le code source de ce site est accessible <a href="https://github.com/Teskann/qui-vote-quoi">sur ce dépôt GitHub</a>.
  Les contributions sont les bienvenues.</p>
  <h2>Limites</h2>
  <p>Les données des votes par pays ne sont disponibles que depuis la mandature de 2019. Ainsi,
  ce site ne posède aucune donnée concernant les votes antérieurs à cette mandature.</p>
  <p>Seuls les votes par appel nominal sont recensés sur ce site.</p>
  <p>
  Si plusieurs votes ont eu lieu pour un même document (par exemple RC-B-10-0035-2024), le seul qui est
  affiché correspond au dernier de la liste sur le site de europarl. En pratique, cela correspond presque toujours
  à la proposition de résolution associée à ce document. Les votes au détail par amendement ne sont pas disponibles.
  Il peut toutefois arriver que la proposition de résolution ne soit pas
  votée par appel nominal et que le vote affiché corresponde à un amendement. Merci de vérifier la véracité des
  informations avant de les partager, en cliquant sur les sources disponibles sous le résultat des votes.
  </p>
  <h2>Contact</h2>
  <p>Pour signaler un problème, merci d'utiliser <a href="https://github.com/Teskann/qui-vote-quoi/issues">les issues GitHub</a>.</p>
  <p>Pour toute prise de contact, vous pouvez m'écrire à <a href="mailto:teskann-dev@protonmail.com">teskann-dev@protonmail.com</a>.</p>
  <h2>Politique de données personnelles</h2>
  <p><i>Qui vote quoi&nbsp;?</i> ne collecte aucune donnée provenant de ses utilisateurs. En cas de doute, vous pouvez
  inspecter le code source du serveur.</p>
  </div>

</body>
</html>