<!DOCTYPE html>
<html lang="fr">
<head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
<style>{{ css }}</style>
<meta charset="utf-8">
<title>À propos de Qui Vote Quoi ?</title>
</head>
<body>
  {% include "toolbar.html.jinja" %}
  <div id="content" class="text_page">
  <h1>À Propos de <i>Qui Vote Quoi ?</i></h1>

  <p>Ce projet vise à faciliter l'accès aux données du parlement
  européen relatives aux votes. Il vous permet de facilement retrouver
  tous les textes de loi votés contenant certains mots clés.</p>

  {% include "avertissement.html.jinja" %}

  <h2>Pourquoi ce projet ?</h2>
  Le site web du parlement européen est peu ergonomique et ne permet pas de rechercher
  les résultats des votes à partir de mots clés. Or, ce type de recherche est essentiel
  pour s'assurer que les élus respectent leurs promesses électorales.
  <h2>Code Source</h2>
  <p>Le code source de ce site est accessible <a href="https://github.com/Teskann/qui-vote-quoi">sur ce dépôt GitHub</a>.
  <h2>Contact</h2>
  <p>Pour signaler un problème, merci d'utiliser <a href="https://github.com/Teskann/qui-vote-quoi/issues">les issues GitHub</a>.</p>
  <p>Pour toute prise de contact, vous pouvez m'écrire à <a href="mailto:teskann-dev@protonmail.com">teskann-dev@protonmail.com</a>.</p>
  <h2>Politique de données personnelles</h2>
  <p><i>Qui Vote Quoi ?</i> ne récupère aucune donnée provenant de ses utilisateurs. En cas de doute, je vous
  invite à consulter le code source du serveur.</p>
  </div>

</body>
</html>