<div class="avertissement">
<div class="avertissement_titre">⚠️ Avertissement</div>
<div><p>Les données utilisées dans ce projet proviennent de <a href="https://www.europarl.europa.eu">europarl.europa.eu</a>
qui ne fournit pas d'API pour récupérer les données relatives aux votes. Elles ont été extraites à
partir du HTML retourné par certaines requêtes. Il est donc envisageable que ce site contienne des erreurs. N'hésitez pas à vérifier
les données en cliquant sur les sources dans le détail des votes.</p>

<p>Ce site n'est aucunement affilié au parlement européen et n'est pas officiel.</p>
</div>
</div>