{% macro create_table_details(eu_document_code, date, votes_source_url, source_url) %}

<table class="details">


<tbody>
<tr><td class="header_details">Date</td>
    <td class="details_content tooltip">{{ date | to_pretty_date }}
        <span class="tooltip_text">Le vote a eu lieu le {{ date | to_pretty_date }}</span>
    </td>
    </tr>

<tr>
    <td class="header_details">Source des données des votes</td>
    <td class="details_content"><a href="{{ votes_source_url }}">Consulter sur europarl.europa.eu</a></td>
</tr>

<tr>
    <td class="header_details">Document associé</td>
    <td class="details_content"><a href="{{ source_url }}">Lire {{ eu_document_code }} sur europarl.europa.eu</a></td>
</tr>

</tbody>

</table>

{% endmacro %}