{% macro was_not_roll_call(data) %}

{% if not data["global"]["was_roll_call_voted"] %}

    <p class="tooltip avertissement">
        ⚠️ Ce texte n'a pas été voté par appel nominal. Les votes individuels ne sont pas disponibles.
        <span class="tooltip_text">
            Cela peut arriver en cas de vote à main levée, de vote électronique ou d'adoption
            sans vote. Il est impossible de savoir qui a voté pour quoi dans ce contexte.<br/>
            Il se peut toutefois que certaines parties du texte aient été votées par appel nominal, n'hésitez pas à
            consulter les sources des votes pour le savoir.
        </span>
    </p>

{% endif %}

{% endmacro %}